
  



<div id="cart">
  <div class="content-box">
      <app-header></app-header>
  
      <mat-card>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>
          <div class="slug" *ngIf="product.variant_options?.variant_name">
            <span style="font-style: normal;font-weight:700;">Variant :  {{product.variant_options.variant_name}} - {{product.variant_options.variant_options}}</span> 
           </div>
        </mat-card-subtitle>
        <mat-card-content>
          <h3>Total Payable
            <span style="float: right;font-weight: 700;">{{product.price | number:'1.2-2'}} {{product.currency}}</span>
          </h3>
          <h4 align="center">Select Payment Method</h4>
          <mat-accordion>
            <mat-expansion-panel [hidden]="mpesa">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/M-PESA_LOGO-01.svg/220px-M-PESA_LOGO-01.svg.png" alt="">
                </mat-panel-title>
                
              </mat-expansion-panel-header>
              <form [formGroup]="mpesaForm" (ngSubmit)="onSubmit()">
                  <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input placeholder="25479200000"  formControlName="phone" matInput/>
                    <mat-icon matSuffix>phone_enabled</mat-icon>
                    <mat-error  *ngIf="submitted && f.phone.errors?.required">
                        Phone number is <strong>required</strong>
                      </mat-error>
                </mat-form-field>  
                <div class="col-sm-12">
                    <button class="btn" type="submit" style="background-color: black;color: white;" mat-button>PAY</button>
                </div>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="https://99casinos.com/media/pages/visa-mastercard-casinos/43debca09d-1590855853/visa-mastercard.png" alt="">
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

<div id="dropin-container"></div>
<button id="submit-button" type="button"  class="btn" type="submit" style="background-color: black;color: white;" mat-button (click)="pay()">Pay</button>
             
                <!-- <ngx-braintree 
                [clientTokenURL]="'https://mpesa.mykonos.co.ke/v1/braintree/generate/token'" 
                [createPurchaseURL] = "'https://mpesa.mykonos.co.ke/v1/braintree/checkout'" 
                [chargeAmount]="1"
                (paymentStatus)="onPaymentStatus($event)"
                >
                <div class="ngxButtons">
                  <style>
                      .ngxButtons button {
                          background-color: black;
                          color: #ffffff;
                          border: none;
                          border-radius: 4px;
                          height: 40px;
                          line-height: 40px;
                          font-size: 16px;
                          cursor: pointer;
                      }
                
                      .ngxButtons button:disabled {
                          background-color:rgba(0, 0, 0, 0.705);
                          color: #ffffff;
                          border: none;
                          border-radius: 4px;
                          height: 40px;
                          line-height: 40px;
                          font-size: 16px;
                          cursor: not-allowed;
                      }
                  </style>
                  <div><button ngxPay>Pay Now</button></div>
                </div>
                </ngx-braintree> -->
             
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<img src="assets/images/google.svg" alt="">
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<google-pay-button
environment="TEST"
buttonType="pay"
buttonColor="black"
[paymentRequest]="{
apiVersion: 2,
apiVersionMinor: 0,
allowedPaymentMethods: [
{
type: 'CARD',
parameters: {
 allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
 allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
},
tokenizationSpecification: {
 type: 'PAYMENT_GATEWAY',
 parameters: {
   gateway: 'example',
   gatewayMerchantId: 'exampleGatewayMerchantId'
 }
}
}
],
merchantInfo: {
merchantId: '12345678901234567890',
merchantName: 'Demo Merchant'
},
transactionInfo: {
totalPriceStatus: 'FINAL',
totalPriceLabel: 'Total',
totalPrice: '100.00',
currencyCode: 'USD',
countryCode: 'US'
}
}"
(loadpaymentdata)="onLoadPaymentData($event)"
></google-pay-button>


</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<img src="assets/images/mypesa.svg" alt="">
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<h3>Coming Soon</h3>
</mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      
      
  </div>
</div>
<ng-template #customLoadingTemplate>
  <div class="custom-class">
      <h3 align="center">
        We are mixing your perfect moment .It will be with you soon
      </h3>
  </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true}" [template]="customLoadingTemplate" ></ngx-loading>
<ngx-spinner type="ball-scale-multiple">
  We are mixing your perfect moment .It will be with you soon
</ngx-spinner>
