
// .name{
//     background-color: darkgray;
//     color:white;
//     padding: 20px;
    
//     strong{
//         color:white;
//     }
// }
// .logo{
//     padding: 20px;
// }
// .total{
//     background-color: darkgray;
//     color:white;
//     padding: 20px
    
// }
// .heading{
//     margin-top: 20px;
//     padding: 20px;
// }
// .main{
//     padding: 20px;
// }
// img{
//     height: 50px;
// }
// .mat-card{
//     margin-bottom: 50px;
// }
// #logo{
//     background-color: black;
//     width: 50%;
// }
// #logo, #pay
// {
//     display:inline;
//     background-color: red;
// }


// .mat-tab-group {
//     flex-direction: row !important;
// }

// .mat-tab-labels {
//     flex-direction: column !important;
// }

// .mat-tab-label-active {
//     border-right: 2px solid white !important;
// }

// .mat-ink-bar {
//     display: none;
// }

// mat-form-field{
//     width: 100%;
// }
// button{
//     width: 100%;
//    }
// form{
//     width: 100%;
// }

 

//   ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.6em 0px }
//   ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.3em; }
  
//   ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//   transform: translateY(-1.1em) scale(.75);
//   width: 133.33333%;
//   }
  
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     background-color:#feecdc;
//   }

  





// /*--------------------
// Shared Variables
// --------------------*/

// $small-screen: 476px;
// $grey: #111;
// $blue: #5db6e8;
// $darkBlue: #282c37;
// $red: #E53A40;
// $green: #8CD790;
// $white: #fff;
// $radius: 4px;
// $bouncy: cubic-bezier(.20, 1.3, .7, 1);

// /*--------------------
// General
// --------------------*/

// // Position form at the center of the page
// html,
// body {
//   font-size: 100%;
//   height: 100%;
//   color: $darkBlue;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   padding: 0;
//   margin: 0;
// }

// header {
//   z-index: 2;
//   transform: translate(0, 5.5em);
//   transition: all .5s ease;
//   &.header-slide {
//     transform: translate(0, 0);
//   }
// }

// h1 {
//   font-weight: 100;
//   font-size: 1.4em;
//   display: block;
// }

// .form-container {
//   display: flex;
//   background-color: #EEE;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   flex-direction: column;
//   border: 1em solid #fff;
//   box-sizing: border-box;
//   position: relative;
  
//   @media (max-width: $small-screen) {
//     border: none;
//   }
// }

// .cardinfo-wrapper {
//   display: flex;
//   justify-content: space-around;
// }


// .card-shape {
//   border-radius: 6px;
//   padding: 2em 2em 1em;
  
//   @media (max-width: $small-screen) {
//     padding: 2em 1.5em 1em;
//   }
// }



// .cardinfo-label {
//   display: block;
//   font-size: 11px;
//   margin-bottom: 0.5em;
//   text-transform: uppercase;
// }

// .cardinfo-exp-date {
//   margin-right: 1em;
//   width: 100%;
// }

// .cardinfo-cvv {
//   width: 100%;
// }

// #button-pay {
//   cursor: pointer;
//   width: 16em;
//   font-size: 15px;
//   border: 0;
//   padding: 1.2em 1em;
//   color: #fff;
//   background: #282c37;
//   border-radius: $radius;
//   z-index: 0;
//   transform: translateY(-100px);
//   transition: all 500ms $bouncy;
//   opacity: 0;
//   -webkit-appearance: none;
  
//   &:hover {
//     background: lighten(#282c37, 20%);
//   }
//   &:active {
//     animation: cardIntro 200ms $bouncy;
//   }
//   &.show-button {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// // Card type image styles
// .cardinfo-card-number {
//   position: relative;
// }

// #card-image {
//   position: absolute;
//   top: 2em;
//   right: 1em;
//   width: 44px;
//   height: 28px;
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/card_sprite.png);
//   background-size: 86px 458px;
//   border-radius: $radius;
//   background-position: -100px 0;
//   background-repeat: no-repeat;
//   margin-bottom: 1em;
//   &.visa {
//     background-position: 0 -398px;
//   }
//   &.master-card {
//     background-position: 0 -281px;
//   }
//   &.american-express {
//     background-position: 0 -370px;
//   }
//   &.discover {
//     background-position: 0 -163px;
//   }
//   &.maestro {
//     background-position: 0 -251px;
//   }
//   &.jcb {
//     background-position: 0 -221px;
//   }
//   &.diners-club {
//     background-position: 0 -133px;
//   }
// }

// /*--------------------
// Inputs 
// --------------------*/

// // Styling for input wrappers, internal font styles are handled in javascript
// .input-wrapper {
//   border-radius: 2px;
//   background: rgba(255, 255, 255, 0.86);
//   height: 2.75em;
//   border: 1px solid #eee;
//   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
//   padding: 5px 10px;
//   margin-bottom: 1em;
// }

// .cardinfo-card-number,
// .cardinfo-exp-date,
// .cardinfo-cvv {
//   transition: transform 0.3s;
// }

// // Change styles of the input wrappers using Braintree's provided classes.   
// // Styles the wrapper of the focused input
// .braintree-hosted-fields-focused {
//   border-color: $blue;
// }

// // Styles the wrapper of the invalid input
// .braintree-hosted-fields-invalid {
//   border-color: $red;
//   animation: shake 500ms $bouncy both;
//   transform: translate3d(0, 0, 0);
//   backface-visibility: hidden;
//   perspective: 1000px;
// }


// /*--------------------
// Animations
// --------------------*/

// @keyframes cardIntro {
//   0% {
//     transform: scale(0.8) translate(0, 0);
//     opacity: 0;
//   }
//   100% {
//     transform: scale(1) translate(0, 0);
//     opacity: 1;
//   }
// }

// @keyframes shake {
//   10%,
//   90% {
//     transform: translate3d(-1px, 0, 0);
//   }
//   20%,
//   80% {
//     transform: translate3d(1px, 0, 0);
//   }
//   30%,
//   50%,
//   70% {
//     transform: translate3d(-3px, 0, 0);
//   }
//   40%,
//   60% {
//     transform: translate3d(3px, 0, 0);
//   }
// }


.name{
    background-color: darkgray;
    color:white;
    padding: 20px;
    
    strong{
        color:white;
    }
}
.logo{
    padding: 20px;
}
.total{
    background-color: darkgray;
    color:white;
    padding: 20px
    
}
.heading{
    margin-top: 20px;
    padding: 20px;
}
.main{
    padding: 20px;
}
img{
    height: 50px;
}
.mat-card{
    margin-bottom: 50px;
}
#logo{
    background-color: black;
    width: 50%;
}
#logo, #pay
{
    display:inline;
    background-color: red;
}


.mat-tab-group {
    flex-direction: row !important;
}

.mat-tab-labels {
    flex-direction: column !important;
}

.mat-tab-label-active {
    border-right: 2px solid white !important;
}

.mat-ink-bar {
    display: none;
}

mat-form-field{
    width: 100%;
}
button{
    width: 100%;
   }
form{
    width: 100%;
}

 

  ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.6em 0px }
  ::ng-deep mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.3em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
  }
  
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#feecdc;
  }

div{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}