
<div id="products">
    <div class="content-box">
        <app-header></app-header>
        <div class="products-box">
            <div class="product" *ngFor="let item of products" (click)="addCart(item)">

                <div class="img">
                    <img [src]="item.image">
                    <h3>
                        <div>{{item.title | slice:0:15}}</div>
                        <div class="price"> 
                              {{item.currency}} {{item.price}}</div>
                    </h3>

                </div>


            </div>
            
          
        </div>

    </div>
</div>

<div class="modal fade" bsModal #modal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">SELECT VARIANT</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <div class="row">
       <div class="col-sm-12">
        <mat-accordion>
          <mat-radio-group >

          <mat-expansion-panel *ngFor="let item of selected.variants_json" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.variant_name | uppercase}}
              </mat-panel-title>
             
            </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-sm-12" *ngFor="let data of item.variant_options">
                      <mat-radio-button [value]="data" (click)="setVariant(item.variant_name,data)">{{data  | uppercase}}</mat-radio-button>
                    </div>
                    
                </div>
          </mat-expansion-panel>
      </mat-radio-group>
        </mat-accordion>
       </div>
       <div class="col-sm-12" style="margin-top: 10px;">
         <button class="btn btn-success btn-sm pull-right"  (click)="next()">Proceed</button>
       </div>
     </div>
      </div>
    </div>
  </div>
</div>