
<div id="products">
    <div class="content-box">
        <app-header></app-header>
        <div class="col-sm-12" style="text-align: center;">
            <img src="../../../assets/images/paid.jpg" width="200" alt="">
        </div>
        <h2 class="text-center" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Sucessfully paid for the product</h2>
    </div>
</div>