<div id="products">
    <div class="content-box">
<div class="col-sm-12 text-center" style="margin: 0 40px 30px auto;" >
    <img [src]="store.logo" width="205" alt="">
</div>
        <div class="products-box">
            <div class="product" *ngFor="let item of products" (click)="addCart(item)">

                <div class="img">
                    <img [src]="item.image">
                    <h3>
                        <div>{{item.title | slice:0:15}}</div>
                        <div class="price"> 
                              {{item.currency}} {{item.price}}</div>
                    </h3>

                </div>


            </div>
            
          
        </div>

    </div>
</div>