

<div id="drink" class="">

    <div class="content-box">
<app-header></app-header>
        <div id="drink-box">
            <h2 style="text-transform: uppercase;">You got a</h2>

<h1 style="font-size: 28px;">{{product.product}}  at you got</h1>
<div class="qrcode-img1" id="qrcode-img1">
</div>
<div class="scan" style="font-size: 18px;font-family: 'Canela Web';font-weight: 500;">Scan the code</div>
<div class="info">
    <div>
      <div>EXPIRES: {{user?.expiryDate}}</div>
    </div>
  </div>
 <h5 style="font-size: 20px;font-family: 'Canela Web';font-weight: 500;">To redeem your drink,make a booking at your favourite you got location and show this code to our mixoulogists</h5>

<div id="recipient">
    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="validate">
        <div class="form-field">
            <input type="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-field">
            <input type="password"  formControlName="password" required placeholder="Password">
        </div>
        <div class="form-field">
            <button type="submit" value="submit">Submit</button>
        </div>

    </form>
</div>
</div>
</div>
</div>
