@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* @import "./assets/canela/stylesheet.css"; */
/* @import "../assets/intl-tel-input/css/intlTelInput.min.css"; */
.loading {
    position: relative;
    cursor: default;
    pointer-events: none;
    text-shadow: none !important;
    transition: all 0s linear
}

.loading:before {
    position: absolute;
    content: "";
    top: 0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10
}

.loading.preloader-black:before {
    background: rgba(0, 0, 0, 0.8)
}

.loading.preloader-blue:before {
    background: rgba(255, 255, 255, 0.8)
}

.loading:after {
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 3rem * 0.5);
    margin: -1.5rem 0 -1.5rem;
    width: 3rem;
    height: 3rem;
    animation: spin-preloader 0.6s linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: 0 0 0 1px transparent;
    visibility: visible;
    z-index: 11
}

.loading.preloader-black:after {
    border-color: #fff rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1)
}

.loading.preloader-blue:after {
    border-color: #fff rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1)
}

@keyframes spin-preloader {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

body {
    background: #fff;
    color: #222;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0
}

body * {
    box-sizing: border-box
}

.content-box {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 12px;
    /* padding: 1rem 1rem 1rem 1rem; */
}

.content-box.wide {
    max-width: none
}

.padding-box {
    padding: 1rem 0
}

.text-center {
    text-align: center
}

.logo-115-31 {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    width: 115px;
    height: 31px;
    display: block;
    margin: 0 auto 30px auto
}

.i-154-61 {
    background-image: url(../images/i-154-61.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    width: 154px;
    height: 61px;
    display: block;
    margin: 0 auto 3rem auto
}

.cart-icon {
    width: 39px;
    height: 39px;
    display: inline-block;
    margin: 0 auto 0 auto;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 2;
    text-decoration: none
}

.cart-icon i {
    background-image: url('../images/shopping-cart.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    width: 39px;
    height: 39px;
    display: block
}

.cart-icon span {
    color: #fff;
    background-color: #222;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    position: absolute;
    top: 0.52rem;
    left: -1rem;
    display: block
}

#drink {
    text-align: center;
    position: relative;
    background-image: url(../images/chandeliers-642-800.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    max-width: 562.5px;
    color: #fff;
    margin: 0 auto;
    padding: 2rem 0
}

#drink .u-got {
    text-align: center;
    font-weight: bold
}

#drink h1 {
    font-family: "Canela Web";
    color: #fff;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px
}

#drink .active {
    color: green
}

#drink .used {
    color: red
}

#drink .img {
    position: relative
}

#drink .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem
}

#drink .qr-img {
    max-width: 250px;
    margin: 0 auto 0 auto
}

#drink .qr-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block
}

#drink .scan {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-top: 5px
}

#drink h3 {
    margin: 2rem auto 1rem auto
}

#drink .button-box {
    margin-top: 3rem
}

#drink .info {
    max-width: 250px;
    margin: 5px auto 0 auto
}

#drink .info>div {
    text-align: center
}

#drink .info>div>div {
    font-weight: 500
}

#drink .info>div>div:first-child {
    font-size: 15px
}

#drink .info>div>div:last-child {
    font-size: 15px
}

#drink .info>div>div:last-child.active {
    color: #14c355
}

#drink .info>div>div:last-child.used {
    color: red
}

#drink .forms-box {
    margin: 20px auto 0 auto;
    max-width: 250px
}

#drink form {
    width: 100%
}

#drink .form-field {
    display: block;
    text-align: left;
    margin-bottom: 1rem
}

#drink .form-field input {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 0.2rem;
    font-size: 18px;
    line-height: 21px
}

#drink .form-field input::-webkit-input-placeholder {
    color: #c4c4c4
}

#drink .form-field input:-moz-placeholder {
    color: #c4c4c4
}

#drink .form-field input::-moz-placeholder {
    color: #c4c4c4
}

#drink .form-field input:-ms-input-placeholder {
    color: #c4c4c4
}

#drink .form-field input.is-invalid {
    border-color: red
}

#drink button {
    font-weight: normal
}

#drink .use-it-info {
    font-size: 13px;
    line-height: 15px;
    color: #682119;
    text-align: center;
    margin-top: 10px
}

#drink .invalid-feedback {
    color: red;
    font-size: 14px
}

#drink.collect {
    background-image: url(../images/i-640-960.jpg);
    color: #000
}

#drink.collect h1 {
    color: #000
}

#drink.collect .scan {
    color: #000
}

.logo {
    margin: 0 auto 2rem auto;
    display: table;
    max-width: 200px
}

.orange {
    color: #e64f28
}

#order {
    text-align: center;
    margin-top: 2rem
}

#order .checking {
    width: 100%;
    height: 100px
}

#order .pending {
    color: blue
}

#order .cancelled {
    color: red
}

#order .paid {
    color: green
}

#order-details .bg-image {
    text-align: center;
    position: relative;
    background-image: url(../img/chandeliers-642-800.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    max-width: 562.5px;
    color: #fff;
    margin: 0 auto
}

#order-details .active {
    color: green
}

#order-details .used {
    color: red
}

#order-details .drink {
    margin: 0 auto 2rem auto;
    border-bottom: 1px solid #ccc;
    text-align: center
}

#order-details .drink:last-child {
    border-bottom: none
}

.button {
    cursor: pointer;
    background-color: #111;
    color: #fff;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    display: block
}

.button.pink {
    background-color: #feecdc;
    color: #111
}

.custom-button{
    background-color: #feecdc !important;
    width: 100%;
}
.button.link {
    background-color: transparent;
    color: #111;
    border-bottom: 1px solid #111;
    display: inline-block;
    width: auto;
    padding: 0.2rem;
    border-radius: 0
}

.button.small {
    padding: 0.5rem;
    font-size: 0.8rem
}

.button.inline-block {
    width: auto;
    display: inline-block
}

#products {
    padding-top: 2rem
}

#products h1 {
    font-family: "Canela Web";
    color: #ff4500;
    font-weight: normal;
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px
}

#products .products-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#products .product {
    margin: 0 0rem 1rem 0;
    display: block;
    width: 164px;
    height: 164px;
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer
}

#products .product .img {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end
}

#products .product h3 {
    font-family: "Canela Web";
    text-transform: uppercase;
    padding: 0.5rem;
    background:rgba(255, 196, 0, 0.192);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 2;
    margin: 0;
    width: 100%;
    text-align-last: left;
    font-weight: normal;
    font-size: 12px;
    color: #000
}

#products .product h3>* {
    text-align: left
}

#products .product h3 .price {
    font-weight: bold;
    white-space: nowrap
}

#products .product img {
    object-fit: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

#payment {
    padding-top: 2rem;
    position: relative
}

#payment h1 {
    font-family: "Canela Web";
    color: #ff4500;
    font-weight: normal;
    text-align: center;
    margin: 30px auto 10px auto;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px
}

#payment h2 {
    margin: 0 auto 30px auto;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    text-align: center
}

#payment .img {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 2rem auto;
    border-radius: 7px;
    overflow: hidden
}

#payment .img img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: contain;
    width: 100%;
    height: 100%
}

#payment .arrow-left-circle {
    background-image: url(../img/arrow-left-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    width: 39px;
    height: 39px;
    display: inline-block;
    margin: 0 auto 0 auto;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    z-index: 2
}

.redeem .form-field {
    display: block;
    width: 100% ;
    margin-bottom: 1rem
}

.redeem  .form-field:last-child {
    margin-bottom: 0
}

form label {
    font-size: 1rem;
    margin-bottom: 0.5rem
}

form button,
form input {
    width: 100%;
    border: 1px solid transparent;
    background-color: #feecdc;
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1rem
}

form button.is-invalid,
form input.is-invalid {
    border-color: red
}

form button {
    cursor: pointer;
    font-weight: bold;
    background-color: #111;
    color: #fff
}

form .invalid-feedback {
    color: red;
    font-size: 0.7rem;
    margin-top: 0.2rem
}

.iti {
    width: 100%
}

#the-maine {
    background-image: url(../img/i-600-900.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    width: 100%;
    height: 812px;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 2rem
}

#the-maine .welcome {
    text-align: center;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 1rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem
}

#the-maine .welcome p {
    margin: 0 0 0.5rem 0
}

#the-maine .welcome p:last-child {
    margin-bottom: 0
}

#the-maine form {
    margin-top: 3rem
}

#the-maine form p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #fff
}

#the-maine form input {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #ccc
}

#the-maine form input.is-invalid {
    border-color: red
}

#the-maine form .invalid-feedback {
    text-align: center;
    display: block
}

#the-maine form button {
    font-weight: normal
}

#share-via-email-popup {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    display: none;
    background-image: url(../img/i-640-960.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%
}

#share-via-email-popup p {
    color: #000
}

#share-via-email-popup.active {
    display: flex
}

#share-via-email-popup h3 {
    color: #000;
    text-align: center
}

#share-via-email-popup .close {
    background-image: url(../img/close-39-39.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    width: 39px;
    height: 39px;
    display: block;
    margin: 0 auto 0 auto;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem
}

#share-via-email-popup-success {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 0.2rem
}

#share-via-email-popup-success h3 {
    margin-top: 0
}

#share-via-email-popup-success p:last-child {
    margin-bottom: 0
}

#share-via-email-popup-form,
#share-via-email-popup-success {
    display: none
}

#share-via-email-popup-form.active,
#share-via-email-popup-success.active {
    display: block
}

#drinks-list {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0
}

#drinks-list .forms-box {
    margin: 20px auto 0 auto;
    max-width: 250px
}

#drinks-list form {
    width: 100%
}

#drinks-list .form-field {
    display: block;
    text-align: left;
    margin-bottom: 1rem
}

#drinks-list .form-field input {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 0.2rem;
    font-size: 18px;
    line-height: 21px
}

#drinks-list .form-field input::-webkit-input-placeholder {
    color: #c4c4c4
}

#drinks-list .form-field input:-moz-placeholder {
    color: #c4c4c4
}

#drinks-list .form-field input::-moz-placeholder {
    color: #c4c4c4
}

#drinks-list .form-field input:-ms-input-placeholder {
    color: #c4c4c4
}

#drinks-list .form-field input.is-invalid {
    border-color: red
}

#drinks-list button {
    font-weight: normal
}

#drinks-list .invalid-feedback {
    color: red;
    font-size: 14px
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto 0 auto
}

table td,
table th {
    padding: 0.3rem 1rem;
    border: 1px solid #ccc;
    text-align-last: left
}

table td p,
table th p {
    font-size: 14px;
    margin: 0 0 0.2rem 0;
    border-bottom: 1px dotted #ccc
}

table td p:last-child,
table th p:last-child {
    border-bottom: 0
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.pagination li {
    margin: 0 1rem
}

#account form {
    display: block
}

#account form input[type=email],
#account form input[type=number],
#account form input[type=password],
#account form input[type=tel],
#account form input[type=text],
#account form textarea {
    background-color: transparent;
    color: #222;
    box-shadow: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    line-height: 20px;
    padding: 0.7rem 1.5rem;
    width: 100%;
    border: 1px solid #dfdfdf
}

#account form input[type=email].is-invalid,
#account form input[type=number].is-invalid,
#account form input[type=password].is-invalid,
#account form input[type=tel].is-invalid,
#account form input[type=text].is-invalid,
#account form textarea.is-invalid {
    border: 1px solid red
}

#account form input[type=number] {
    padding-right: 0.7rem
}

#account form input[type=checkbox] {
    width: auto
}

#account form input[type=checkbox].is-invalid {
    position: relative
}

#account form input[type=checkbox].is-invalid:before {
    content: "";
    border: 1px solid red;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1px
}

#account form .form-field {
    margin-bottom: 1rem
}

#account form .form-field:last-child {
    margin-bottom: 0
}

#account form .form-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem
}

#account form .form-fields .form-field {
    margin-bottom: 0;
    margin-right: 1rem;
    width: 100%
}

#account form .form-fields .form-field:last-child {
    margin-right: 0
}

#account form .invalid-feedback {
    font-size: 14px;
    color: red;
    text-align: left;
    margin-top: 0.5rem;
    display: block
}

#account h1 {
    margin-top: 0
}

#account-login-box {
    min-height: 100vh;
    display: flex;
    align-items: center
}

#create-account,
#login,
#reset-password,
#set-password {
    max-width: 500px;
    margin: 0 auto
}

#create-account h2,
#login h2,
#reset-password h2,
#set-password h2 {
    text-align: left;
    margin-top: 0
}

#create-account .link,
#login .link,
#reset-password .link,
#set-password .link {
    border-bottom: 1px solid #222;
    cursor: pointer
}

#create-account .divider,
#login .divider,
#reset-password .divider,
#set-password .divider {
    display: block;
    height: 0;
    border-bottom: 1px solid #dfdfdf;
    margin: 2rem 0
}

#create-account .info,
#login .info,
#reset-password .info,
#set-password .info {
    font-size: 0.8rem;
    line-height: 2;
    padding: 1rem;
    background-color: #f5f5f5;
    margin: 1rem 0;
    display: block;
    border-radius: 0.2rem
}

#create-account .info input[type=checkbox],
#login .info input[type=checkbox],
#reset-password .info input[type=checkbox],
#set-password .info input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
    width: auto;
    margin-bottom: 0.4rem
}

#account-menu .padding-box {
    display: flex;
    align-items: center;
    justify-content: space-between
}

#account-menu a {
    border-bottom: 2px solid #000;
    padding: 0.2rem 0.5rem;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #000
}

@media (max-width:960px) {
    #account-menu a span {
        display: none
    }
}

#account-content {
    width: 100%;
    min-width: 0
}

#orders .drinks-table .drink {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc
}

#orders .drinks-table .drink .qr-image {
    margin-right: 1rem
}

#orders .drinks-table .drink .qr-image img {
    display: block
}

#orders .drinks-table .drink .drink-content>div {
    margin-bottom: 0.5rem
}

#orders .drinks-table .drink .drink-content>div:last-child {
    margin-bottom: 0
}

#orders .drinks-table .drink .drink-status,
#orders .drinks-table .drink .status {
    font-size: 12px;
    padding: 0.1rem 0.5rem;
    color: #fff;
    border-radius: 0.2rem;
    display: inline-block;
    vertical-align: text-bottom
}

#orders .drinks-table .drink.cancelled .status {
    background-color: #ff5252
}

#orders .drinks-table .drink.pending .status {
    background-color: #c7bc10
}

#orders .drinks-table .drink.free .status,
#orders .drinks-table .drink.paid .status {
    background-color: #46e22c
}

#orders .drinks-table .drink .drink-status.active {
    background-color: #46e22c
}

#orders .drinks-table .drink .drink-status.used {
    background-color: #979797
}

#orders .drinks-table .info,
#orders .drinks-table .price {
    font-size: 0.7rem
}

#orders .drinks-table .product {
    border-top: 1px dotted #ccc;
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

#profile {
    max-width: 800px;
    margin: 0 auto
}

#messages {
    position: fixed;
    z-index: 9999;
    left: 1rem;
    right: 1rem;
    top: -100%;
    transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out
}

#messages.active {
    top: 1rem
}

#messages>div {
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.25);
    display: table;
    margin: 0 auto 0.6rem auto
}

#messages>div.error {
    background-color: red;
    color: #fff
}

#messages>div.success {
    background-color: green;
    color: #fff
}

#cart {
    padding-top: 2rem
}

#cart .cart-item {
    display: block;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative
}

#cart .cart-item .img {
    width: 150px;
    min-width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
    border-radius: 0.5rem;
    overflow: hidden
}

#cart .cart-item .img img {
    object-fit: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

#cart .cart-item .cnt {
    margin-top:auto !important;
    width: 100%
}

#cart .cart-item .quantity-box {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

#cart .cart-item .quantity-box .quantity {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    width: 70px;
    padding: 0.125rem 1rem
}

#cart .cart-item .quantity-box .spins {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

#cart .cart-item .quantity-box .spins>div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    width: 60px;
    height:40px;
    border-radius: 50%;
    cursor: pointer
}

#cart .cart-item .quantity-box .spins>div:hover {
    background-color: #f2f2f2
}



#cart .cart-item .name {
    font-family: "Canela Web";
    font-size: 14px;
    font-weight: bold;
    text-transform:uppercase;
}

#cart .cart-item .slug {
    font-family: "Canela Web";
    font-size: 13px;
    font-weight:500;
    font-style: italic;
}
#cart .cart-item .total {
    font-weight:400;
    font-size: 1rem
}



#cart .total-price {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eea86b
}