<!-- 
<div class="hero-img">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<!-- <div class="hero-img">
  <router-outlet ></router-outlet>
</div> -->
<router-outlet ></router-outlet>
