

<div id="cart">
  <div class="content-box">
      <app-header></app-header>

      <div class="cart-item"  *ngFor="let item of cart" >
        <div class="img">
          <img [src]="item.image">
        </div>
      
        <div class="cnt">
          <div class="name">{{item.title}}</div>
          <div class="slug"> <span style="font-style: normal;font-weight: 600;">Description:</span> {{item.description}}</div> 
          <div class="slug" *ngIf="item.variant_options?.variant_name">
            <span style="font-style: normal;font-weight:700;">Variant :  {{item.variant_options.variant_name}} - {{item.variant_options.variant_options}}</span> 
           </div>
        </div>
      
      </div>

      <div class="total-price"><span>Total:</span> <span>{{ total | number:'1.2-2'}} {{cart[0]?.currency}}</span></div>
      <br>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Your Name</mat-label>
            <input placeholder="Name"  formControlName="name" matInput/>
            <mat-icon matSuffix>person</mat-icon>
            <mat-error  *ngIf="submitted && f.name.errors?.required">
                Name is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <ngx-intl-tel-input
          [cssClass]="'custom'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Kenya"
          [phoneValidation]="true"
          [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.National"
          name="phone"
          formControlName="phone"
        >
        </ngx-intl-tel-input>
         <br>
         <br>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input placeholder="Email"  formControlName="email" matInput/>
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error  >
                <span *ngIf="submitted && f.email.errors?.required">Email is <strong>required</strong></span>
                <span *ngIf="f.email.errors?.email">Email must be a valid email address</span>
              </mat-error>
          </mat-form-field> 
      
       
        <div class="col-sm-12" style="margin-top:12px" >
            <button class="btn" [disabled]="!registerForm.valid" style="background-color: black;color: white;" mat-button>PAY</button>
        </div>
        <div class="col-sm-12 text-center">
          <a  role="button" type="button" routerLink="/">Back</a>
        </div>
        </form>
        <br>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true}" ></ngx-loading>
