<!-- <div id="drink" class="collect" >
  <div class="content-box">
      <app-header></app-header>
    <div id="drink-box">
      <h2 style="text-transform: uppercase;">You got a</h2>
      <h1>{{product.name}}  at you got</h1>

      <div id="recipient">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
              <mat-label>Your Name</mat-label>
              <input placeholder="Name"  formControlName="name" matInput/>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error  *ngIf="submitted && f.name.errors?.required">
                  Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input placeholder="Email"  formControlName="email" matInput/>
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error  >
                  <span *ngIf="submitted && f.email.errors?.required">Email is <strong>required</strong></span>
                  <span *ngIf="f.email.errors?.email">Email must be a valid email address</span>
                </mat-error>
            </mat-form-field> 
            <mat-form-field appearance="outline">
              <mat-label>Telephone</mat-label>
              <input placeholder="+25479200000"  formControlName="phone" matInput/>
              <mat-icon matSuffix>phone_enabled</mat-icon>
              <mat-error  *ngIf="submitted && f.phone.errors?.required">
                  Phone number is <strong>required</strong>
                </mat-error>
          </mat-form-field>  
          <div class="col-sm-12">
              <button class="btn" type="submit" style="background-color: black;color: white;" mat-button>PAY</button>
          </div>
         
          </form>
      </div>

      <div class="button-box">
        <h3 style="text-transform: uppercase;font-weight:500;">
         PAY IT FORWARD<br />Share a perfectly mixed moment at you got
            with your Friends and send them one of our signature cocktails.
        </h3>
        <a class="button pink" routerLink="/">SEND A DRINK</a>
      </div>
    </div>
  </div>
</div> -->




<div id="drink" class="">

  <div class="content-box">
<app-header></app-header>
      <div id="drink-box">
          <h2 style="text-transform: uppercase;">You got a</h2>

<h2 style="text-transform:uppercase">{{product.product}}  at you got</h2>
<div class="qrcode-img" id="qrcode-img2">
</div>
<div class="scan" style="font-size: 18px;font-family: 'Canela Web';font-weight: 500;">Scan the code</div>
<div class="info">
  <div>
    <div>EXPIRES: {{user?.expiryDate}}</div>
  </div>
</div>
<h4 style="font-size: 22px;font-family: 'Canela Web';font-weight: 500;">Hi there,
  <br>
  you got a perfectly mixed moment from <br>
  {{product.name}} <br>
  visit your favourite you got location and enjoy your <b><u>{{product.product}}</u></b>
</h4>

<div class="button-box">
  <h4 style="text-transform: uppercase;font-weight:500;">
   PAY IT FORWARD<br />Share a perfectly mixed moment at you got
      with your Friends and send them one of our signature cocktails.
  </h4>
  <a class="button pink" routerLink="/">SEND A DRINK</a>
</div>		
</div>

  </div>

</div>
