/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    box-sizing: border-box;
//     background-image: 
//     linear-gradient(to right,
//     rgba(126, 213, 111, 0.8),
//    rgba(40, 180, 133, 0.8)),url('./assets/images/cart4.jpg');
//    background-position: top;
}
.cart {
    text-align: center;
}
.mt-2{
    margin-top:10px !important;
}

::ng-deep  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
     margin: 0 !important; 
}
.bshadow {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: 1;
    height: 300px;
}
.bshadow img {
    width: 280px !important;
    height: 280px !important;
}
  textarea {
      margin-top: 15px; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      opacity: .5;
  }
  .logo{
      text-align: center;
      margin-bottom: 5px;
  }
  .ft-normal{
      font-weight:500;
  }
  .ft-light{
    font-weight:500;
}
  .text-centre{
    text-align: center !important;
  }
  .mb-0{
      margin-bottom: 5px;
  }
  
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
