<div id="drink" class="">
  <div class="content-box">
    <app-header></app-header>
    <div id="drink-box">
      <h2 style="text-transform: uppercase">You got a</h2>

      <h1>{{ product.product}} at you got</h1>
      <div class="qrcode-img" id="qrcode-img"></div>
      <div
        class="scan"
        style="font-size:16px; font-family: 'Canela Web'; font-weight:500"
      >
        Scan the code
      </div>
      <div class="info">
        <div>
          <div>EXPIRES: {{user?.expiryDate}}</div>
        </div>
      </div>
      <h4 style="font-size: 22px; font-family: 'Canela Web'; font-weight: 500">
        Thank you for selecting a perfectly mixed moment to share with a friend
      </h4>
      <h4 style="font-size: 18px; font-family: 'Canela Web'; font-weight: 500">
        Choose how you would like to send it
      </h4>
      <div class="button-box">
        <div class="redeem">
          <div class="form-field">
            <a
              target="__blank"
              class="btn btn-default custom-button"
              role="button"
              href="https://api.whatsapp.com/send?text=Hi there,You got a perfectly mixed moment from me,to collect your drink,click here {{
                value
              }}"
              data-action="share/whatsapp/share"
            >
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
              Share via Whatsapp
            </a>
          </div>
          <div class="form-field">
            <a
              target="__blank"
              class="btn btn-default custom-button"
              [href]="mailto(user.email)"
              data-action="share/email/share"
            >
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              Share via Email
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
